*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image:url(imagens/imagem-de-fundo.png) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 div.lista {
     background-color: rgb(3, 1, 38);
     align-items: center;
     padding: 15px;
     margin: 100px auto;
     width: 350px;
     height: 350px;
     text-align: center;
     color: aliceblue;
     border-radius: 2px;
     font: normal 20pt arial;
 }

 h1{
    font-size: 24px;
    padding: 15px;
 }
 input{
    width: 200px;
    line-height: 25px;
 }

 #btn {
     border-radius: 2px;
     padding: 6px;
     width: 100px;
     border: none;
     color: aliceblue;
     font-weight: bold;
     background-color: rgb(95, 4, 123);
 }

 #btn:hover{
    background-color:rgb(142, 63, 166) ;
 }
 #btn:active{
    background-color:rgb(122, 104, 128) ;
 }


 li{
    width: 310px;
    margin: 10px auto;
    font-size: 12px;
    line-height: 15px;
    padding: 2px;
    background-color: blueviolet;
    text-align: left;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }

 span:hover{
    background-color: rgb(255, 128, 158);
    cursor: pointer;
    
 }

 .riscado {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}



ol {
    list-style: decimal inside;
    counter-reset: item;
    padding-left: 0;
}

ol li {
    counter-increment: item;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ol li::before {
    content: counter(item) ". ";
    margin-right: 8px;
    font-weight: bold;
}
